/* Header */

#header .content {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Garante que o texto fique centralizado */
    margin: auto; /* Centraliza o conteúdo */ 
}

#header .actions {
    display: flex;
    gap: 10px;
}

#header .actions li {
    list-style: none;
}

#header .actions li a {
    display: inline-block;
}

#header .image.phone {
    position: relative;
    width: 100%; /* Garantir que a largura seja ajustada */
    max-width: 300px; /* Limitar a largura máxima ao tamanho de um telemóvel */
    height: auto; /* Manter a proporção da altura automaticamente */
    margin: 0 auto; /* Centralizar o contêiner */
}

#header .image.phone video {
    width: 100%; /* Fazer o vídeo ocupar toda a largura do contêiner */
    height: auto; /* Manter a proporção do vídeo */
    object-fit: cover; /* Garantir que o vídeo se ajuste sem deformar */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Simular uma moldura */
}

/* Horizontal Line */
.horizontal-line {
    position: absolute;
    top: 35%;
    left: -190%;
    height: 2px;
    width: 1000px;
    background-color: white;
    z-index: 10;
}

@media (max-width: 768px) {
    .horizontal-line {
        top: 50%;
        width: 70%;
        left: 5%;
    }
}

@media (max-width: 480px) {
    .horizontal-line {
        top: 40%;
        width: 80%;
        left: 10%;
    }
}

/* Form Styles */
#signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    margin: 0 auto;
}

#school {
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

select {
    width: 100%;
    max-width: 300px;
    height: 40px;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="text"], input[type="email"], input#phone {
    width: 100%;
    max-width: 600px;
    height: 40px;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Phone Input */
.phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.iti {
    display: flex;
    align-items: center;
}

.iti__flag-container {
    margin-right: 10px;
}

#phone {
    padding-left: 50px !important;
}

/* Recaptcha */
.g-recaptcha {
    margin-bottom: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
    input[type="text"], input[type="email"], select {
        max-width: 100%;
    }
}
